html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    /* border: 2px solid rgb(255, 242, 178); */
    /* border-radius: 10px; */
    background-color: rgba(255, 98, 0, 0.931);
    font-size: 20px;
    margin-bottom: 16px;
    /* padding: 8px; */
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav a {
    text-decoration: none; /*removes underline from link*/
    display: block;
    padding: 8px;
    color: rgb(255, 242, 178);
}

/* nav .push-right {
    margin-left: auto;
} */

nav a:hover {
    color: rgba(255, 98, 0, 1);
    background: rgb(255, 242, 178);
}

@media all and (max-width: 800px) {
    nav ul {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    nav ul {
        flex-flow: column wrap;
        gap: 0;
    }

    nav a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    nav li:last-of-type a {
        border-bottom: none;
    }
}

main {
    margin: 8px auto;
    background-color: rgb(255, 247, 206);
    padding: 16px 30px;
}

.container {
    /* padding: 0px 8px 0px; */
    padding-bottom: 8px;
    margin-bottom: 16px;
    background-color: rgba(175, 175, 146, 0.266);
}

main .container h1 {
    padding-top: 16px;
    color: rgb(255, 98, 0);
    text-align: center;
}

main .container #recipe-image {
    width: 400px;
    height: auto;
    display: block;
    margin: 0px auto 24px;
}

main .container h2 {
    text-align: center;
    background-color: rgba(255, 98, 0, 0.72);
    padding: 4px;
    color: rgb(255, 247, 206);
}

main .container h2 ~ * {
    margin: 0px 16px;
}

main .container li {
    width: 600px;
    margin: 0px auto 6px;
}

main .container #recipe-list {
    font-size: 18px;
}
